{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Home Page
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'styles.css' %} ">
</head>
<body>
<header>
    <h1>Nischal Ghimire</h1>
    <p>Computer Engineering Student</p>
    <nav>
        <a href="#about">About</a>
        <a href="#resume">Resume</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
    </nav>
</header>
    {% block content %}{% endblock  %}
</body>
</html>